@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');
.big{
    background-image: url(../../../images/full-shot-travel-concept-with-landmarks.jpg);
    background-repeat: round;

}
.container {
    height: 110vh;
    display: flex;
    justify-content:center;
    align-items: center;
}
.testing{
    display: flex;
    align-items: center;
    justify-content:center;
    width: 380px;
    height: 350px;
    box-shadow: 0 0 1em black;   
    font-size: 20px;
    font-family: Nunito;
    font-weight:600;
    background-color: white;
    border-radius:20px;
    padding: 10px;
}

.buttonOnee{
    border-radius: 5px;
    margin: 10px;
    margin-left: 35%;
    color: white	;
    background-color: #1E90FF;
    padding: 10px;
    border:none ;
}

.buttonOnee:hover{
    background-color: #0066ff;
    transition: 0.5s;
}

.buttonOne .a{
    font-size: 10px;
}


.buttonTwo .buttonThree{
    font-size: 16px;
    font-family: Nunito;
    font-weight:700;
    color: #1E90FF	;
    border-color: #1E90FF;
    background-color: white;
    border-radius: 5px;
    margin-left: 10px ;
    cursor: pointer;
    padding: 5px;
    
}

.buttonTwo .buttonThree:hover{
    color:white;
    background-color: #1E90FF;
    transition: 0.5s;
    border-color: #1E90FF;
}

.buttonOne .forgetPassword{
    color: gray;
    font-size: 16px;
    font-family: Nunito;
    margin: 15px;
    margin-left: 25%;
}

.loginInput , .passwordInput{
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 5px;
    
}

@media screen and (max-width: 1650px) {
    .big{
        background-image: url(../../../images/full-shot-travel-concept-with.jpg);
        background-repeat: round;
    }
    
}    


@media screen and (max-width: 950px) {
    .big{
        background-image: url(../../../images/full-shot-woman-travel-concept.jpg);
        background-repeat: round;
    }
    
}    