<div class="big">
  <div class="container">
    <div class="testing" >
            <form>
                <fieldset>
                    <legend>Login - Agência de Viagem</legend>
            
                    <div class="loginInput">
                        <input name="emailLogin" [(ngModel)] = "loginDTO.email" class="uk-input uk-form-width-large" type="text" placeholder="DIGITE SEU E-MAIL...">
                    </div>
                    <div class="passwordInput">
                        <input name="senhaLogin" type="password" [(ngModel)] = "loginDTO.senha" class="uk-input uk-form-width-large" type="text" placeholder="DIGITE SUA SENHA...">
                    </div>
                </fieldset>
              <div class="buttonOne">
                <button (click) = "login()" class="buttonOnee">Entrar</button>
                <br>
                <div class="forgetPassword">
                    <a routerLink=""><font color="gray">Esqueceu a senha?</font> </a>
                </div>

                  
              </div> 
              <div class="buttonTwo">
                <a class="">Não tem uma conta?</a>
                <a routerLink="/cadastro-cliente"><button type="button" class="buttonThree">Fazer Cadastro</button></a>
              </div>
            </form>

    </div>
</div>


</div>
  