<h3>Hoteis disponíveis</h3>
<table class="uk-table uk-table-divider">
    <tr *ngIf="hoteis.length > 0">
        <th>Local</th>
        <th>Check-in</th>
        <th>Check-out</th>
        <th>Hospedes</th>
        <th>Nome Hotel</th>
        <th>Foto Hotel</th>
        <th>Reservar</th>
    </tr>
    <tr *ngFor="let hotel of hoteis" name="hoteislist">
        <td name="codigoHotelList">{{hotel.local}}</td>
        <td name="estadoList">{{hotel.checkin}}</td>
        <td name="checkoutList">{{hotel.checkout}}</td>
        <td name="duracaoList">{{hotel.hospedes}}</td>
        <td name="duracaoList">{{hotel.nomeHotel}}</td>
        <td name="duracaoList">{{hotel.imagem}}</td>
        <td><button id="btnReservasId" name="btReservas" (click)="reservar(hotel)">Reservar</button></td>
    </tr>
</table>

<h3>Reservas disponíveis</h3>
<table class="uk-table uk-table-divider">
    <tr *ngIf="reservas.length > 0">
        <th>Cliente</th>
        <th>Local</th>
        <th>Check-in</th>
        <th>Checkout</th>
        <th>Hóspedes</th>
        <th>Nome Hotel</th>
        <th>Foto Hotel</th>
        <th>Cancelar Reserva</th>
    </tr>
    <tr *ngFor="let reserva of reservas" name="reservalist">
        <td name="reservaCpfClienteList">{{reserva.cpfCliente}}</td>
        <td name="reservaCodigoHotelList">{{reserva.hotel.local}}</td>
        <td name="reservaEstadoList">{{reserva.hotel.checkin}}</td>
        <td name="reservaCheckoutList">{{reserva.hotel.checkout}}</td>
        <td name="reservaDuracaoList">{{reserva.hotel.hospedes}}</td>
        <td name="duracaoList">{{reserva.hotel.nomeHotel}}</td>
        <td name="reservaCancelarList"><button id="btnReservasId" name="btReservas" (click)="cancelar(reserva)">Cancelar</button></td>
    </tr>
</table>