<table>
    <a routerLink="/.."><button type="button" class="btn btn-outline-primary">Home</button></a>
    <label for="estado">Pacote:</label>
    <select [(ngModel)]="hotel.local"select id="estado" name="estado" required>
		<option value="Selecione um Destino">Selecione um Destino</option>
        <option value="Acre">AC</option>
		<option value="Alagoas">AL</option>
		<option value="Amapá">AP</option>
        <option value="Amazonas">AM</option>
        <option value="Bahia">BA</option>
        <option value="Amapá">AP</option>
        <option value="Ceará">AP</option>
        <option value="Espírito Santo">ES</option>
        <option value="Goiás">GO</option>
        <option value="Maranhão">MA</option>
        <option value="Mato Grosso">MT</option>
        <option value="vMato Grosso do Sul">MS</option>
        <option value="Minas Gerais">MG</option>
        <option value="Pará">PA</option>
        <option value="Paraíba">PB</option>
        <option value="Paraná">PR</option>
        <option value="Pernambuco">PE</option>
        <option value="Piauí">PI</option>
        <option value="Rio de Janeiro">RJ</option>
        <option value="Rio Grande do Norte">RN</option>
        <option value="Rio Grande do Sul">RS</option>
        <option value="Rondônia">RO</option>
        <option value="Roraima">RR</option>
        <option value="Santa Catarina">SC</option>
        <option value="São Paulo">SP</option>
        <option value="Sergipe">SE</option>
        <option value="Tocantins">TO</option>
        <option value="Distrito Federal">DF</option>
	</select>
    <tr>
       <label>Check-in em: </label>
        <input [(ngModel)]="hotel.checkin" type="datetime-local" id="meeting-time"
       name="meeting-time" value="2022-04-07T14:00"
       min="2022-04-07T14:00" max="2023-06-11T14:00">
    </tr>
    <tr>
        <label>Check-out em :</label>
        <input [(ngModel)]="hotel.checkout" type="datetime-local" id="meeting-time"
        name="meeting-time" value="2022-04-10T12:00"
        min="2022-04-10T12:00" max="2023-06-14T12:00">
    </tr>
    <tr>
        <label>Quarto para: </label>
        <input [(ngModel)]="hotel.hospedes" type="number" min="0" max="4" name="hospedes" required>
    </tr>
    <tr>
        <label>Hotel: </label>
        <input [(ngModel)]="hotel.nomeHotel" type="text" name="hotel" required>
    </tr>
    <td><button (click)="cadastrar()">Adicionar</button></td>
</table>

<table class="uk-table uk-table-divider">
    <tr *ngIf="hoteis.length > 0">
        <th>Local</th>
        <th>Check-in</th>
        <th>Check-out</th>
        <th>Hóspedes</th>
        <th>Nome Hotel</th>
    </tr>
    <tr *ngFor="let hotel of hoteis" name="hoteislist">
        <td name="localList">{{hotel.local}}</td>
        <td name="checkinList">{{hotel.checkin}}</td>
        <td name=" checkoutList">{{hotel.checkout}}</td>
        <td name="hospedesList">{{hotel.hospedes}}</td>
        <td name="hospedesList">{{hotel.nomeHotel}}</td>
    </tr>
</table>