@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');
.big{
    background-image: url(../../../images/full-shot-travel-concept-with-landmarks.jpg);
    background-repeat: round;

}
.container {
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
}
.testing{
    display: flex;
    align-items: center;
    justify-content:center;
    width: 380px;
    height: 550px;
    box-shadow: 0 0 1em black;   
    font-size: 20px;
    font-family: Nunito;
    font-weight:600;
    background-color: white;
    border-radius:20px;
    padding: 5px;
}
.bloco{
   margin-left: 15%;
}
.buttonTwo{
    border-radius: 5px;
    margin: 18px;
    margin-left: 33%;
    color: white	;
    background-color: #1E90FF;
    padding: 10px;
    border:none ;
}

.buttonTwo:hover{
    background-color: #0066ff;
    transition: 0.5s;
}

.btn{

    font-size: 16px;
    font-family: Nunito;
    font-weight:700;
    color: #1E90FF	;
    border-color: #1E90FF;
    background-color: white;
    border-radius: 5px;
    margin-left: 10% ;
    cursor: pointer;
}

.btn:hover{
    
}


.loginInput , .passwordInput{
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 5px;
    
}

@media screen and (max-width: 1650px) {
    .big{
        background-image: url(../../../images/full-shot-travel-concept-with.jpg);
        background-repeat: round;
    }
    
}    


@media screen and (max-width: 950px) {
    .big{
        background-image: url(../../../images/full-shot-woman-travel-concept.jpg);
        background-repeat: round;
    }
    
}    